body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:montserrat;
}
.banner{
    color:white;
    background:red;
    
    /*Layout*/
    display:flex;
    flex-direction:center;
    align-items:center;
    justify-content:center;
}
.table-container{
    width:100%;
    min-height:100vh;
    
    /*Layout*/
    display:flex;
    align-items:center;
    justify-content:start;
    flex-direction:column;
}
.table-container table{
    min-width:80%;
    height:100%;
    margin-top:20px;
    text-align:center;
    border:solid 1px black;
}
.table-container table td{
    padding:20px;
    border-bottom:solid 1px black;
}